[Unit]
Description=AfyaTrack KE Hospital Registry System
Documentation=https://github.com/weddynkatha265/afyatrack-ke
After=network.target postgresql.service docker.service
Requires=postgresql.service docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
User={{ devops_user }}
Group={{ devops_group }}
WorkingDirectory={{ app_directory }}
ExecStart={{ app_directory }}/start-app.sh
ExecReload={{ app_directory }}/start-app.sh
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target